@charset "UTF-8";
/* font-family: 'Raleway' , sans-serif ;*/
/*blue-clair -->#3498DB;*/
/*blue-foncé -->#2C3E50;*/
@font-face{
 font-family:'raleway';
 src:'font/raleway.ttf';
}
body , html{
    margin:0;
    padding:0;
}
body {
  font-family: 'Raleway', sans-serif;
}
a ,a:hover{
    text-decoration: none;
}
.container-fluid{
    padding:0;
}
.inner-banner .btn-custom {
    background-color:#3498DB;
    color:#FFFFFF;
    height:400px;
}
.separator{
    height:3px;
    width:5%;
    border: none;
    box-shadow:none;
   background-color:#3498DB;
 
}
/*header*/
.header{
   background-color:#3498DB;
   height:70px;
   line-height:70px;
}
.logo{
    color:#FFFFFF;
    text-transform: uppercase;
    font-weight:bold;
    letter-spacing:1px;
    float:left;
}

.menu{
    float:right;
}
.menu a{
    color:#FFFFFF;
    margin-right:20px;
}
.menu a:hover{
    color:#2C3E50;
}
/*bannière*/
.banner{
    width:100%;
    max-width:100%;
}
.ban{
    width:100%;
    max-width:100%;
    position:relative;
}
.ban img{
    width:100%;
    max-width:100%;
}
.inner-banner{
    position:absolute;
    top:40%;
    text-align:center;
    width:90%;
}
.inner-banner h1{
    color:#FFFFFF;
    text-shadow:1px 1px 20px #000000;
}
.inner-banner .btn-custom {
    background-color:#3498DB;
    color:#FFFFFF;
}
.inner-banner .btn-custom:hover{
    background-color:#2C3E50;
}
/*about*/
.about article h2{
    text-align:center;

}
#about{
    text-align:center;
    padding-top:10%;
}
.about article{
    margin-top:10%;
    margin-bottom:10%;
}

/*portfolio*/
.portfolio{
    background-color:#ffffff;
}
.portfolio .item-folio{
    background-color:#3498DB;
    height:700px;
    
}

/*contact*/
.footer p{
    color:#ffffff;
    text-align:center;
    padding-top:5%
}
.footer{
    background-color:#2C3E50;
}
#contact{
    color:#ffffff;
    text-align:center;
}
.formulaireContact{
    width:500px;
    display:block;
    margin:0 auto;
}
input{
    margin-bottom:20px;
}
input [type=text]{
    height:50px;
    width:500px;
    border:none;
}
input [type=email]{
    height:50px;
    width:500px;
    border:none;
}
textarea{
    width:500px;
    height:200px;
    resize:vertical;
}